<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <style>body{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; text-align: center;}</style>
  </head>
  <body>
    
    {% if not user.is_authenticated %}
        <form method="post" action="{% url 'createaccount' %}">
        {% csrf_token %}
            <input placeholder="Enter email" name="email" type="text">
            <input placeholder="Enter password" name="password" type="password">
            <input placeholder="Confirm password" name="confirm_password" type="password">
            <button type="submit">Register</button>
        </form>
    {% endif %}
    {% if user.is_authenticated %}
        <h3>Please <a href="{%url 'logout'%}">logout</a> before you create an account</h3>
    {% endif %}
    {%if message %}
        {{message}}
    {% endif %}
  </body>
</html>